/*font family*/

    @font-face{
    src: url(../);
    font-family: ;
}

/*font family*/

/*Common css Start*/

:root{
    --popr:"";
    --bl: #000000;
    --as: #282A35;
}

body{
    
}

/*Common css End*/

/*Header start*/

header{
    padding: 20px 0px;
    background-color: var(--as);
}

.title{
    margin: 50px 0 15px;
    text-align: center;
}

.h_nav{}

.h_br{
    padding: 0;
    font-size: 25px;
    color: white;
}

.h_nav_to{}

.h_nav_coll{}

.h_nav_ul{}

.h_nav_ul li a{
    padding-left: 30px !important;
    color: white !important;
}

/*Header end*/

/*Adaptive size*/

.scma_content{}

.sm_fl{
    display: flex;
    justify-content: center;
}

.sm_gr{
    display: grid;
    justify-content: center;
}

.scma_cl:before,
.scma_cl:after {
    content: "";
    display: table;
}

.scma_cl:after {
    clear: both;
}

.scma_cl {
    *zoom: 1;
}

.scma_gauge {
    display: block;
    float: left;
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin: 0 0 1% 0;
}

.scma_size {
    width: 48%;
}

/*2*/

.gauge_container {
    text-align: left;
    height: 450px;
    display: inline-block;
    border: 1px solid #ccc;
    margin: 40px 5px 0 5px;
}

.gauge {
    width: 300px;
    height: 200px;
    display: inline-block;
    -webkit-transform: translate3d(0, 0, 0);
}

.controls {
    text-align: left;
}

li {
    padding: 10px 0 0 0;
}

li.refresh {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding-top: 15px;
    padding-bottom: 15px;
}

label {
    font-family: Arial;
    display: inline-block;
    width: 65px;
    margin: 0 0 5px 0;
    text-align: right;
    padding: 5px;
    color: #919191;
}

input {
    font-weight: bold;
    font-size: 13px;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;
}

input[disabled=disabled] {
    font-weight: normal;
    font-size: 11px;
    padding: 0 0 0 10px;
    margin: 0px;
    color: #777777;
    border-color: transparent;
    background: #fff;
}

/*Parallax*/

.parallax-window {
    min-height: 400px;
    background: transparent;
}

/*Inertia Plugin*/

.mwg_effect000 {
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: grid;
    place-items: center;
}

.mwg_effect000 .header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #323232;
    padding: 20px 25px;
    color: #BAB8B9;
}
.mwg_effect000 .header div:nth-child(2) {
    font-size: 26px;
}
.mwg_effect000 .header div:last-child {
    display: flex;
    justify-content: flex-end;
}
.mwg_effect000 .button {
    font-size: 14px;
    text-transform: uppercase;
    
    border-radius: 24px;
    height: 48px;
    gap: 5px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    width: max-content; 
}
.mwg_effect000 .button1 {
    background-color: #232323;
}
.mwg_effect000 .button2 {
    border: 1px solid #323232;
}


.mwg_effect000 .button img {
    width: 22px;
    height: auto;
    display: block;
}

.mwg_effect000 .medias {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1vw;
}
.mwg_effect000 .medias img {
    width: 11vw;
    height: 11vw;
    object-fit: contain;
    border-radius: 4%;
    display: block;
    pointer-events: none;
    will-change: transform;
}

@media (max-width: 768px) {
    .mwg_effect000 .header {
        padding: 15px;
        display: flex;
        justify-content: space-between;
    }
    .mwg_effect000 .header div:nth-child(2) {
        display: none;
    }
    .mwg_effect000 .medias {
        gap: 2vw;
    }
    .mwg_effect000 .medias img {
        width: 18vw;
        height: 18vw;
    }
}